.h4{
    font-size: 20px;
    padding  : 3px;
    text-align: center;
    font-style: italic;
}
.col-lg-3.lg{
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;  
}
.passion{
    font-size: 70px;
    text-align: center;
    font-family: initial;
    font-style: oblique;
}
.login-man{
    font-size: 50px;
    color: #ccc;
    display: inline-block;
}
.bag-cart{
    font-size: 30px;
    color: rgb(127, 95, 138);
}
.nav-end {
    list-style: none;
    display: flex;
    gap: 40px;
    margin-right: 40px; 
    align-items: center;
}
.navbar-text{
    font-size: 13px;
    padding-left: 450px;
}
.logo-bottom{
    margin-left: 600px;
    font-size: 300px;
}
.bottom-nav{
   font-style: normal;
   color: #535050;
}
.socialmedia {
    padding-left: 40px;
    gap: none;
}
.copyright{
    font-size: 17px;
    color: #535050;
    font-style: italic;
    text-align: center;
}  
.container-fluid.coloor{
    background-color: rgb(245, 249, 250);
}
.roow{
    margin-bottom: 30px;
}
.about{
    font-size: 35px;
    text-align: center;
}
.para{
    font-size: 16px;
    text-align: center;
    font-style: oblique;
}
.tres-last{
    width: 170px;
   margin-left: 440px;
}